.container {
    align-items: center;
    justify-content: center;
}


.titulo{
    color: #333;
    font-size: 40px;
    align-self: start;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.edit-button{
        margin-right: 5px;
            padding: 5px 10px;
            background-color: orange;
            color: #fff;
            border: none;
            cursor: pointer;
}
.delete-button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-button:hover {
    background-color: #f0f0f0;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}