/* TelaHome.css */

/* Estilos gerais */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para o container principal */
.home-container {
  display: flex;
  height: 100vh;
}

/* Estilos para a barra lateral */
.sidebar {
  background-color: #f9f9f9;
  padding: 20px;
  flex: 1;
  transition: all 0.3s;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  animation: fadeInSidebar 0.5s ease;
  height: auto;
}


@keyframes fadeInSidebar {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 1px 30px !important;
  position: relative !important;
  cursor: pointer;
} 

.sidebar li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 0;
  background-color: #007bff;
  transition: height 0.3s;
  z-index: -1;
}

.sidebar li.active::before,
.sidebar li:hover::before {
  height: 100%;
}


/* TelaHome.css */

/* Restante do seu CSS */

/* Animação de preenchimento para o item ativo */
.sidebar li.active{
  color: white; /* Altere a cor do texto para branco */
  background-color: #007bff; /* Altere a cor de fundo para azul */
  transition: all 0.3s; /* Adicione uma transição suave para a animação */
  border-radius: 90px;
  border-top-right-radius: 20px;
  
}
.tabs{
  transform: translateX(0%);
  transition: transform ease-in-out 600ms;
}

.active .tabs{
  transform:translateX(10%);
  transition: transform ease-in-out 600ms;
}
.menu{
  margin-left: 1.70rem;
}
.sidebar li:not(.active):hover {
  background-color: #e6e6e6; /* Altere a cor de fundo ao passar o mouse para cinza claro */
  border-radius: 90px;
  transition: ease-in-out 0.3s; /* Adicione uma transição suave para a animação */
}

/* Transição de saída ao remover o mouse */
.sidebar li:not(.active) {
  transition: ease-in-out 0.3s; /* Adicione uma transição suave para a animação de saída */
}

/* Estilos para o conteúdo principal */
.content {
  flex: 3;
  padding: 20px;
  animation: fadeInContent 0.5s ease;
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.home-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  animation: fadeInTitle 0.8s ease;
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logohome {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  transition: all 0.3s;
  animation: fadeInLogo 1s ease;
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Restante do seu CSS */
