/* TelaHome.css */

.home-container {
  display: flex;
  background-color: #f0f0f0;
  min-height: 100vh;
}

.sidebar {
  background-color: #333;
  color: #fff;
  width: 250px;
  padding: 20px;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 10px 0;
  font-size: 18px;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #555;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.home-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.home-buttons {
  display: flex;
  gap: 1rem;
}

.home-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #555;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #333;
}
